.rr-header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rr-header-links {
    display: flex;
    justify-content: space-around;
}

.rr-header-links h4 {
    padding-right: 20px;
    font-weight: 400;
    font-size: 16px;
}

.rr-header-container img {
    cursor: pointer;
}