@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
  --rr-color-bg-header-primary: #2D28FF;
  --rr-color-font-primary: #FFFFFF;
  --rr-color-bg-product-primary: #C7C7C7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: var(--rr-color-bg-header-primary);
}

nav {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: var(--rr-color-font-primary);
}